# Backend Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=financial_terminal
POSTGRES_DSN=postgresql+asyncpg://postgres:password@postgres:5432/financial_terminal
REDIS_URL=redis://redis:6379/0
APP_ENVIRONMENT=development

# Frontend Config
VITE_API_URL=/api
NODE_ENV=development
